.header{
    background-color: rgba(247, 34, 16, 1);
    color: white;
    font-size: 34;
    width: 100vw;
    height: 100px;
}

.date{
 margin-right: 78px; 
}
.content{
justify-content: space-between;
text-align: left;
list-style-type: none;
background-color: white;
font-size: 20px;
}

.image{
    width: 234;
    height: 50;
   float: right;
   margin-top: 34px;
   margin-right: 56px;
}


.block{
    font-size: 17;
    list-style-type: none;
    margin-left: 21px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.card1{
flex: 0 0 350px;
overflow: hidden;
clear: both;
}


.cards{
 display: flex;
 flex-wrap: wrap;
}

.card{
flex: 0 0 200px;
}


.card img{
width: 350px;
height: 250px;
}

.card a{
color: black;
}

.card1{
    display: flex;
    flex-wrap: wrap;
}

.content2{
    margin-left: 134px;
}

.content2text{
    margin-left: 134px;
}

.sound{
background-image: url(/images/sound\ image.png);
}
